/* styles.css */
* {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#heading {
  text-align: center;
  padding: 1.2rem 0;
  margin-bottom: 2.5rem;
  font-size: 1.5rem;
  background-color: #0d2342;
  color: white;
  text-transform: uppercase;
}

/* Media queries */
@media (max-width: 1058px) {
  #heading {
    font-size: 1.3rem;
  }
  .Form-container {
    padding: 30px;
  }
  .Form-container h3 {
    font-size: 1.25rem;
  }
  .Label {
    font-size: 1rem;
  }
  .Input {
    font-size: 0.8rem;
    width: 90%;
  }
  #Submit-button {
    padding: 0.5rem;
    width: 165px;
    font-size: 1rem;
  }
  .container img {
    width: 450px;
  }
  .Popup-container {
    padding: 0.5rem;
  }
  .Popup-container h2 {
    font-size: 1.3rem;
  }
  .Popup-container p {
    font-size: 1rem;
  }
  .Popup-container button {
    padding: 5px 27px;
    font-size: 0.9rem;
  }
}

@media (max-width: 868px) {
  #heading {
    font-size: 1.1rem;
  }
  .Form-container {
    padding: 25px;
  }
  .Form-container h3 {
    font-size: 1.1rem;
  }
  .Label {
    font-size: 0.9rem;
  }
  .Input {
    font-size: 0.7rem;
    width: 90%;
  }
  #Submit-button {
    padding: 0.4rem;
    width: 143px;
    font-size: 0.9rem;
    margin-top: 0;
  }
  .container img {
    width: 380px;
  }
  .Popup-container {
    width: 375px;
    padding: 1.2rem;
  }
  .Popup-container h2 {
    font-size: 1.3rem;
  }
  .Popup-container p {
    font-size: 1.1rem;
  }
}
@media (max-width: 748px) {
  .container img {
    width: 320px;
  }
  .Form-container {
    padding: 20px;
  }
  .Input {
    font-size: 0.6rem;
    width: 85%;
  }
  #Submit-button {
    padding: 0.3rem;
    width: 129px;
    font-size: 0.8rem;
    margin-top: 0;
  }

  .Popup-container {
    width: 330px;
  }
  .Popup-container p {
    font-size: 0.9rem;
    margin-bottom: 10px;
    font-weight: 400;
  }
  .Popup-container button {
    padding: 5px 25px;
    font-size: 0.9rem;
  }
}
@media (max-width: 668px) {
  .container {
    flex-direction: column-reverse;
  }
  .Form-container {
    padding: 33px;
    width: 47%;
    margin-left: 0;
  }
  .Input {
    font-size: 0.8rem;
    width: 100%;
  }
  #Submit-button {
    padding: 0.6rem;
    width: 180px;
    font-size: 1rem;
    margin-top: 0;
  }
}
